$maincolor: #1fde82;
$subcolor: #afb6c5;
$darksubcolor: #5d6678;
$distance: 20px;
$btnhovercolor: #5d6678;
$fullbgccolor: #2570ff;
$primarycolor: rgba(149, 204, 228, 0.9);

body {
    font-family: "Roboto", sans-serif;
    a {
        text-decoration: none;
    }
}
header {
    padding: 15px 0;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 3;
    .src-only {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

img {
    vertical-align: top;
}
.photo {
    width: 100%;
    img {
        width: 100%;
    }
}

#menu-control {
    position: absolute;
    top: -500px;
}
nav {
    a {
        color: $subcolor;
        line-height: 54px;
        font-size: 16px;
    }
}
.nav a {
    display: block;
    color: $subcolor;
}
header .row {
    justify-content: space-between;
}

.subscribe {
    line-height: 54px;
    position: relative;
    a {
        right: 0;
        position: absolute;
        padding: 0px 20px;
        border: solid 1px $subcolor;
        border-radius: 5px;
        box-sizing: border-box;
        &:hover {
            background-color: $btnhovercolor;
            color: #fff;
        }
    }
}
.title h2 {
    font-size: 42px;
    font-weight: 300;
    padding: $distance 0;
}
.block-txt p {
    color: $subcolor;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 1em;
    line-height: 1.5;
    padding: $distance 0;
}
.sit-photo{
    width: 60%;    
    padding:  0 $distance ;
    margin-left: auto;
}
.btn a ,.btn span{
    display: inline-block;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 14px;
    background-color: $maincolor;
    white-space: nowrap;
    color: white;
    font-weight: 600;
    transition: 0.5s;
    &:hover {
        background-color: $btnhovercolor;
    }
}
.video a {
    color: $subcolor;
    background-color: transparent;
}
.services h2 {
    font-size: 30px;
}
section {
    padding-bottom: $distance * 3;
    padding-top: $distance;
}
.services-card {
    padding: $distance;
    box-shadow: 0px 0px 44px #eee;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: $distance;
    border-radius: 10px;
    img {
        width: 15%;
    }
    h3 {
        font-size: 30px;
        color: #1d273b;
        font-weight: bold;
        padding-top: $distance * 2;
        padding-bottom: $distance;
    }
    p {
        color: $darksubcolor;
        line-height: 1.5;
        font-size: 12px;
    }
    a {
        color: $darksubcolor;
        font-weight: bold;
        display: block;
        margin-top: auto;
    }
}
section:nth-child(7){
    background-color: $fullbgccolor;
}
.recommanded{
    
    .recommanded-card{
        width: 100%;
        background-color: rgba(146, 145, 235, 0.2);
        margin-top: $distance;
        text-align: center;
        padding: $distance 0;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        p{
            margin: 5px 0px;
            font-size: 34px;
        }
        span{
            font-size: 14px;
        }
    }
}
.recommanded-card-content{
    padding: $distance ;
    color: white;
    .recommanded-card-title{
        margin-bottom: $distance;
        h3{
            font-size: 28px;
            margin-bottom: $distance;

        }
        p{
            font-size: 14px;
            line-height: 1.5;
        }
    }
    .recommanded-btn {
        a{
            padding: 15px 20px;
            font-size: 14px;
            display: inline-block;
            color: #fff;
            border: 1px solid #fff;
            font-weight: bold;
            border-radius: 5px;
            transition: 0.5s;
            &:hover{
                background-color: $maincolor;
            }
        }
    }
}

.sendemail{
    display: flex;
    align-items: center;
}
.worksteps{
    margin-top: $distance;
}
.worksteps-title{
    font-size: 28px;
    padding: $distance 0;
}
.projects-photo .txt{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $maincolor;
    border-radius: 10px;
    position: absolute;
    padding-left: $distance;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    opacity: 0;
    transition: 0.8s;
}
.projects-photo{
    position: relative;
    img{
        width: 100%;
    }
    &:hover .txt{
        opacity: 1;
    }
}

.subscribe-area-txt {
    p{
        font-size: 28px;
        line-height: 1.5;
        text-align: center;
    }
    input{
        width: 100%;
    }
}
.projects-photo .txt p{
    font-size: 28px;
    margin-top: 10%;
}
.projects-photo .txt a{
    color:white;
    &:hover {
        color: $darksubcolor;
    }
}
.projects-btn{
    text-align: end;
    height: 100%;
    line-height: 82px;
}
.projects-btn a{
    display: inline;
}
.signup-txt{
    display: flex;
    flex-direction: column;
    p{
        font-size: 30px;
        line-height: 1.5;
    }
}
.subscribe-area{
    padding: 50px 0;
}
.signup-photo {
    img{
        width: 100%;
    }
}
p,input, textarea{
    line-height: 32px;
    padding-left: 10px;
    margin: 10px;
}
.send-btn{
    margin: 10px;
}
@media screen and(max-width:767px) {
    .hb {
        display: block;
        width: 40px;
        height: 40px;
        background-color: $maincolor;
        position: relative;
        right: 0;
        margin-left: auto;
    }
    .hb span {
        background-color: white;
        width: 80%;
        height: 4px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2px;
    }
    .hb span:first-child {
        margin-top: 10px;
    }
    .hb span:last-child {
        margin-top: auto;
        margin-bottom: 10px;
    }
    .hb span:nth-child(2) {
        margin: auto;
    }
    nav {
        display: none;
        padding-left: 20px;
    }
    .subscribe {
        display: none;
    }
    #menu-control:checked ~ header .container .row .col-md-6 .nav {
        position: fixed;
        display: block;
        right: 0;
        width: 400px;
        height: calc(100% - 40px);
        background-color: #fff;
    }
    .title h2 {
        font-size: 30px;
    }
    section:nth-child(4) > .row {
        flex-wrap: wrap-reverse;
    }
    .nav a {
        border-bottom: 1px solid $subcolor;
    }
    .projects-btn{
        text-align: left;
    }
}
@media screen and(min-width:768px) {
    nav {
        display: flex;
        justify-content: space-between;
    }
    section:nth-child(4) > .row {
        flex-direction: row-reverse;
    }
    .services h2 {
        font-size: 42px;
        padding: $distance $distance $distance 0;
    }
    .discription {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .photo {
        width: 100%;
        img {
            width: 80%;
        }
    }
    .sit-photo {
        text-align: center;
        img {
            width: 70%;
        }
    }

    .services-card {
        height: 350px;
        margin-top: $distance;
        border-radius: 10px;

        img {
            width: 30%;
        }
        h3 {
            font-size: 22px;
        }
        p {
            font-size: 14px;
        }
    }
    .recommanded{
        .recommanded-card{
            text-align: left;
            p{
                font-size: 58px;
                padding: $distance ;
                
            }
            span{
                display: block;
                padding: $distance ;
                line-height: 2;

            }
        }
    }
    .recommanded-card-content{
        position: relative;
        top: 25%;
        .recommanded-card-title{
            width: 80%;
            
            h3{
                font-size: 42px;
                
            }

        }
    }
    .worksteps{
        .row{
            align-items: center;
        }
    }
    
    .worksteps-content:nth-of-type(odd) >.row{
        flex-direction: row-reverse;
    }
    .signup-txt{
        width: 80%;
        p{
            font-size: 52px;
        }
    }
    .subscribe-area{
        width: 600px;
        margin: auto;
    }
    .subscribe-area-txt{
        p{
            font-size: 52px;
        }
    }
}
