body {
  font-family: "Roboto", sans-serif;
}

body a {
  text-decoration: none;
}

header {
  padding: 15px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 3;
}

header .src-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

img {
  vertical-align: top;
}

.photo {
  width: 100%;
}

.photo img {
  width: 100%;
}

#menu-control {
  position: absolute;
  top: -500px;
}

nav a {
  color: #afb6c5;
  line-height: 54px;
  font-size: 16px;
}

.nav a {
  display: block;
  color: #afb6c5;
}

header .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe {
  line-height: 54px;
  position: relative;
}

.subscribe a {
  right: 0;
  position: absolute;
  padding: 0px 20px;
  border: solid 1px #afb6c5;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe a:hover {
  background-color: #5d6678;
  color: #fff;
}

.title h2 {
  font-size: 42px;
  font-weight: 300;
  padding: 20px 0;
}

.block-txt p {
  color: #afb6c5;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 1em;
  line-height: 1.5;
  padding: 20px 0;
}

.sit-photo {
  width: 60%;
  padding: 0 20px;
  margin-left: auto;
}

.btn a, .btn span {
  display: inline-block;
  border-radius: 10px;
  padding: 12px 30px;
  font-size: 14px;
  background-color: #1fde82;
  white-space: nowrap;
  color: white;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn a:hover, .btn span:hover {
  background-color: #5d6678;
}

.video a {
  color: #afb6c5;
  background-color: transparent;
}

.services h2 {
  font-size: 30px;
}

section {
  padding-bottom: 60px;
  padding-top: 20px;
}

.services-card {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 44px #eee;
          box-shadow: 0px 0px 44px #eee;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  border-radius: 10px;
}

.services-card img {
  width: 15%;
}

.services-card h3 {
  font-size: 30px;
  color: #1d273b;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
}

.services-card p {
  color: #5d6678;
  line-height: 1.5;
  font-size: 12px;
}

.services-card a {
  color: #5d6678;
  font-weight: bold;
  display: block;
  margin-top: auto;
}

section:nth-child(7) {
  background-color: #2570ff;
}

.recommanded .recommanded-card {
  width: 100%;
  background-color: rgba(146, 145, 235, 0.2);
  margin-top: 20px;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.recommanded .recommanded-card p {
  margin: 5px 0px;
  font-size: 34px;
}

.recommanded .recommanded-card span {
  font-size: 14px;
}

.recommanded-card-content {
  padding: 20px;
  color: white;
}

.recommanded-card-content .recommanded-card-title {
  margin-bottom: 20px;
}

.recommanded-card-content .recommanded-card-title h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.recommanded-card-content .recommanded-card-title p {
  font-size: 14px;
  line-height: 1.5;
}

.recommanded-card-content .recommanded-btn a {
  padding: 15px 20px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.recommanded-card-content .recommanded-btn a:hover {
  background-color: #1fde82;
}

.sendemail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.worksteps {
  margin-top: 20px;
}

.worksteps-title {
  font-size: 28px;
  padding: 20px 0;
}

.projects-photo .txt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1fde82;
  border-radius: 10px;
  position: absolute;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.projects-photo {
  position: relative;
}

.projects-photo img {
  width: 100%;
}

.projects-photo:hover .txt {
  opacity: 1;
}

.subscribe-area-txt p {
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
}

.subscribe-area-txt input {
  width: 100%;
}

.projects-photo .txt p {
  font-size: 28px;
  margin-top: 10%;
}

.projects-photo .txt a {
  color: white;
}

.projects-photo .txt a:hover {
  color: #5d6678;
}

.projects-btn {
  text-align: end;
  height: 100%;
  line-height: 82px;
}

.projects-btn a {
  display: inline;
}

.signup-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup-txt p {
  font-size: 30px;
  line-height: 1.5;
}

.subscribe-area {
  padding: 50px 0;
}

.signup-photo img {
  width: 100%;
}

p, input, textarea {
  line-height: 32px;
  padding-left: 10px;
  margin: 10px;
}

.send-btn {
  margin: 10px;
}

.word-card .photo {
  width: 100%;
}

.word-card .photo img {
  width: 100%;
}

.worksteps-content {
  margin: 20px 0;
}

.info-cards {
  margin: 10px 0;
}

.info-card img {
  margin: 20px 0;
}

.info-card-content {
  margin: 20px 0;
}

.info-card-txt p {
  margin: 0;
  padding: 0;
  color: #1fde82;
  font-weight: bold;
}

.info-card-txt p span {
  color: #afb6c5;
  font-weight: normal;
}

.info-card-title h5 {
  font-size: 30px;
  font-weight: 600;
  white-space: nowrap;
  margin: 20px 0;
}

.info-card-content a {
  display: block;
  color: #afb6c5;
  margin: 10px 0px;
}

.info-card-content a:hover {
  color: #1fde82;
}

.info-card-content p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: #afb6c5;
}

.item {
  font-size: 12px;
  color: #afb6c5;
  text-align: center;
}

.item p {
  margin: 0;
  padding: 0;
}

.item p span {
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .hb {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #1fde82;
    position: relative;
    right: 0;
    margin-left: auto;
  }
  .hb span {
    background-color: white;
    width: 80%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
  }
  .hb span:first-child {
    margin-top: 10px;
  }
  .hb span:last-child {
    margin-top: auto;
    margin-bottom: 10px;
  }
  .hb span:nth-child(2) {
    margin: auto;
  }
  nav {
    display: none;
    padding-left: 20px;
  }
  .subscribe {
    display: none;
  }
  #menu-control:checked ~ header .container .row .col-md-6 .nav {
    position: fixed;
    display: block;
    right: 0;
    width: 400px;
    height: calc(100% - 40px);
    background-color: #fff;
  }
  .title h2 {
    font-size: 30px;
  }
  section:nth-child(4) > .row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .nav a {
    border-bottom: 1px solid #afb6c5;
  }
  .photo-1, .photo-2, .photo-3, .photo-4, .photo-5 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .projects-btn {
    text-align: left;
  }
  .photo-1 .word-card img {
    width: 40%;
  }
  .photo-2 .word-card img {
    width: 50%;
  }
  .photo-3 .word-card img {
    width: 65%;
  }
  .photo-4 .word-card img {
    width: 60%;
  }
  .photo-5 .word-card img {
    width: 50%;
  }
  .workstep-txt p {
    font-size: 20px;
    padding: 20px 0;
    margin: 0;
    font-weight: 600;
  }
  .workstep-txt span {
    display: inline-block;
    font-size: 12px;
    padding: 10px 0;
    margin-bottom: 20px;
    color: #afb6c5;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section:nth-child(4) > .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .services h2 {
    font-size: 42px;
    padding: 20px 20px 20px 0;
  }
  .discription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .photo {
    width: 100%;
  }
  .photo img {
    width: 80%;
    min-width: 50%;
  }
  .workstep-number {
    text-align: right;
  }
  .photo-1 {
    margin-left: 10%;
  }
  .photo-3 {
    margin-left: 5%;
  }
  .sit-photo {
    text-align: center;
  }
  .sit-photo img {
    width: 70%;
  }
  .services-card {
    height: 350px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .services-card img {
    width: 30%;
  }
  .services-card h3 {
    font-size: 22px;
  }
  .services-card p {
    font-size: 14px;
  }
  .recommanded .recommanded-card {
    text-align: left;
  }
  .recommanded .recommanded-card p {
    font-size: 58px;
    padding: 20px;
  }
  .recommanded .recommanded-card span {
    display: block;
    padding: 20px;
    line-height: 2;
  }
  .recommanded-card-content {
    position: relative;
    top: 25%;
  }
  .recommanded-card-content .recommanded-card-title {
    width: 80%;
  }
  .recommanded-card-content .recommanded-card-title h3 {
    font-size: 42px;
  }
  .worksteps .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .worksteps-title h5 {
    font-size: 42px;
  }
  .worksteps-content:nth-of-type(odd) > .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .signup-txt {
    width: 80%;
  }
  .signup-txt p {
    font-size: 52px;
  }
  .subscribe-area {
    width: 600px;
    margin: auto;
  }
  .subscribe-area-txt p {
    font-size: 52px;
  }
  .workstep-txt p {
    font-size: 22px;
    padding: 10px 0;
    margin: 10px 0;
  }
  .workstep-txt span {
    display: inline-block;
    font-size: 14px;
    padding: 10px 0;
    color: #afb6c5;
    line-height: 1.2;
  }
  .photo-5 .word-card {
    text-align: end;
  }
  .photo-5 .word-card img {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */